aside {
  font-size: 1.4rem;
  width: 400px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
}

.header-aside {
  background-color: #f6e200;
  font-size: 2.1rem;
  font-family: "IBM Plex Mono", monospace;
  padding: 60px 30px;
  margin-bottom: 30px;
}

.aside-bg {
  background-color: #fafafa;
  height: 100vh;
}

.container-menu {
  padding: 10px 30px;
}

.menu li {
  padding: 20px 30px;
  display: block;
  position: relative;
  cursor: pointer;
}

.menu li:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #f6e200;
}

.dropbtn {
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.titulo h3 {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  max-height: 0;
  transition-duration: 0.6s;
}

.dropdown-content .show-text {
  display: block;
}

.dropdown-content .show-text p {
  cursor: pointer;
}

.titulo {
  margin-bottom: 30px;
}
